<div class="row">
<div class="col-md-8 col-md-offset-2">
  <div>
    <h1><%= @user.name %></h1>
    <%= link_to t('views.users.show.change_credentials'), edit_user_registration_path(@user) if @user == current_user %>
  </div>
  <table class="users-table table">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th></th>
        <th class="text-center"><%= t('views.users.show.date') %></th>
        <th class="text-center"><%= t('views.users.show.question') %></th>
        <th class="text-center"><%= t('views.users.show.prize') %></th>
        <th class="text-center"><%= t('views.users.show.lifeline') %></th>
      </tr>
    </thead>

    <%= render partial: 'game', collection: @games %>
  </table>
</div>
</div>
